 body {
     margin: 0;
     padding: 0;
     font: 85% arial, hevetica, sans-serif;
     text-align: center;
     color: #000000;
     background-color: #dfdfdf;

 }

 h3.structuretitle {
     color: #b1161d;
 }

 a {
     text-decoration:none;
 }
 a:link {
     color: #b61c26;
 }
 a:visited {
     color: #a00a10;
 }
 a:hover, a:active {
     color: #b9282e;
 }
 a.none {
     text-decoration:none;
 }

 div.container {
     position: relative;
     top:0px;
     width: 1002px;
     height: auto;
     background: #b1161d;
 }

 div.header {
     position: relative;
     height: 150px;
     padding: 0;
     margin: 0;
 }

 div.toolbar {
     position: relative;
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
     text-align: left;
     width: 980px;
     height: 40px;
     background: #ccc;
 }

 div.listarea {
     padding-top: 1px;
     padding-left: 10px;
     padding-right: 10px;
     position: relative;
     text-align: left;
     width: 980px;
     min-height: 350px;
     background: #ffffff;
 }



.container {
    background-color: #b1161d;
}
.header {
    width: 100%;
    max-width: 1000px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    background-color: #b1161d;
    padding: 10px;
    height: 30px;
}
.bottom a {
    color: black;
}
.imprint {
    font-size: 70%;
    color: #000000;
    text-decoration:none;
}

