body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif !important;
  font-size: 16px;
  color: #000000;
  background-color: #dfdfdf;
}

a {
  text-decoration:none;
}
a:link {
  color: #b61c26;
}
a:visited {
  color: #a00a10;
}
a:hover, a:active {
  color: #b9282e;
  text-decoration: underline;
}
a.none:hover, a.none:active {
  text-decoration: none;
}

.container {
  margin: auto;
  padding: 0px;
  width: auto;
  max-width: 1002px;
  background-color: white;
  border: 1px;
  border-top: 0px;
  border-style: solid;
  border-color: #b1161d;
}

.header {
  width: 100%;
  box-shadow: 0px 5px 10px #aaaaaa;
}

.content {
  padding: 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  background-color: #b1161d;
  height: 30px;
}
.bottom a {
  color: black;
}
.bottom-button {
  margin: auto;
}
.imprint {
  font-size: 70%;
  color: #000000;
  text-decoration:none;
}
.index-link-row {
  display: flex;
  justify-content: space-between;
}
.index-link-row-first {
  flex-grow: 1
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  border-bottom: 1px solid #b1161d;
  padding-bottom: 8px;
}
.controls-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-grow: 2;
  margin-right: 10px;
}
.control-item {
  display: flex;
  align-self: center;
  margin: 2px;
}
.control-item.count {
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.contact {
  border-bottom: 1px solid #ccc;
}
.contact-title {
  color: #b1161d;
  font-size: 18px;
}
.preview {
}
.preview-first {
  height: 50px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}
.preview-last {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.full-view {
  display: none;
  overflow: hidden;
}
.full-first {
  overflow: hidden;
}
.full-second {
  overflow: hidden;
}
.full-last {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 601px) {
  .full-first {
    padding-right: 5px;
  }
  .full-second {
    padding: 0px 5px 0px 5px;
  }
  .full-last {
    padding-left: 5px;
  }
}
.expand-button,.collapse-button {
  background: none;
  border: none;
  padding: 0px 5px;
  cursor: pointer;
  text-align: end;
}
.organize div {
  padding: 0px 5px;
  overflow: hidden;
}
.checkbox-in-list {
  display: flex;
}
