<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schwarz-Bunte-Seiten-Berlin</title>
    <link rel="stylesheet" href="static/w3.css" type="text/css" media="screen">
    <link rel="stylesheet" href="static/custom.css" type="text/css" media="screen">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <img src="static/header.png" alt="header"/>
    <div class="w3-container">
      {% block content %} {% endblock %}
    </div>
</body>
</html>
