{% from 'macros.html' import search_controls %}
{% extends 'base.html' %}

{% block content %}
<div class="w3-row controls">
  <form class="controls-form" action="{{url_for('list')}}">
    {{search_controls(L, lang)}}
  </form>
  <div class="control-item count"><span>{{contacts|length}} {{L['list']['num_structures_label']}}</span></div>
  <div class="control-item">
    {% if lang=='de' %}
      de&nbsp;|&nbsp;<a href="{{ url_for('list', lang='en')}}">en</a>
    {% else %}
      <a href="{{ url_for('list', lang='de')}}">de</a>&nbsp;|&nbsp;en
    {% endif %}
  </div>
</div>

{% for contact in contacts %}
<div class="w3-row contact">
  <h3 class="contact-title">{{contact.name}}</h3>

  <div class="preview">
    <div class="w3-twothird preview-first">
      {{contact.short_description}}{% if contact.description %} &mdash; {% endif %}{{contact.description}}
    </div>
    <div class="w3-third preview-last">
      <div>{{contact.base_address}}</div>
      <button class="expand-button" aria-label="expand preview"><i class="fa fa-chevron-down"></i></button>
    </div>
  </div>

  <div class="full-view">
    <div class="w3-third full-first">
      {{contact.short_description}}
      {% if contact.description %}<h4>{{L['list']['description_header']}}</h4>{% endif %}
      {{contact.description | urlize(target='_blank') | replace('\n', '<br/>' | safe)}}
      {% if contact.resources %}<h4>{{L['list']['resources_header']}}</h4>{% endif %}
      {{contact.resources | replace('\n', '<br/>' | safe)}}
      </div>
      <div class="w3-third full-second">
      {% if contact.addresses %}<h4>{{L['list']['addresses_header']}}</h4>{% endif %}
      {{contact.addresses | urlize(target='_blank') | replace('\n', '<br/>' | safe)}}
      {% if contact.contact %}<h4>{{L['list']['contact_header']}}</h4>{% endif %}
      {{contact.contact | urlize(target='_blank') | replace('@', '-at-' | safe) | replace('\n', '<br/>' | safe)}}
      </div>
      <div class="w3-third full-last">
        <button class="collapse-button" aria-label="collapse full view"><i class="fa fa-chevron-up"></i></button>
        <div class="map" data-marker="{{contact.geo_marker}}" data-bbox="{{contact.geo_bbox}}"></div>
        <div class="events" data-lang="{{lang}}" data-header="{{L['list']['events_header']}}" data-group-id="{{contact.radar_group_id if contact.radar_group_id else ''}}"></div>
      </div>
  </div>
</div>
{% endfor %}

<script src="{{url_for('static', filename='radar.js')}}"></script>
<script type="text/javascript">
  const previews = document.querySelectorAll(".preview")
  const fullViews = document.querySelectorAll(".full-view")
  const collapseButtons = document.querySelectorAll(".collapse-button")
  for(let i = 0; i < previews.length; i++) {
      previews[i].addEventListener('click', (event) => {
          previews[i].style.display="none";
          fullViews[i].style.display="block";
          const mapDiv = event.currentTarget.closest(".contact").querySelector(".map")
          if (mapDiv.dataset.marker && !mapDiv.hasChildNodes()) {
              const { marker, bbox } = mapDiv.dataset;
              mapDiv.innerHTML = "<iframe width='350' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://www.openstreetmap.org/export/embed.html?bbox="+bbox+"&layer=mapnik&marker="+marker+"&style='border: 1px solid black'></iframe>";
          }
          const eventsDiv = event.currentTarget.closest(".contact").querySelector(".events")
          if (eventsDiv.dataset.groupId && !eventsDiv.hasChildNodes()) {
              Radar(eventsDiv);
          }
      })
  }
  for(let i = 0; i < collapseButtons.length; i++) {
      collapseButtons[i].addEventListener('click', () => {
          previews[i].style.display="block";
          fullViews[i].style.display="none";
      })
  }
</script>
{% endblock %}
