{% macro search_controls(L, lang) -%}
<div class="control-item">
  <label for="group">{{L['list']['group_filter']}}:&nbsp;</label>
  <input
      id="group" class="w3-input" type="checkbox" name="group"
      {% if request.args.get('group') %}checked{% endif %}
  />
</div>
<div class="control-item">
  <label for="location">{{L['list']['location_filter']}}:&nbsp;</label>
  <input
      id="location" class="w3-input" type="checkbox" name="location"
      {% if request.args.get('location') %}checked{% endif %}
  />
</div>
<div class="control-item">
  <label for="media">{{L['list']['media_filter']}}:&nbsp;</label>
  <input
      id="media" class="w3-input" type="checkbox" name="media"
      {% if request.args.get('media') %}checked{% endif %}
  />
</div>
<div class="control-item">
  <input
      id="query" class="w3-input" type="text" placeholder="{{L['list']['search_query_filter']}}" name="query"
      value="{{request.args.get('query') or ''}}"
  />
  <input id="lang" type="hidden" name="lang" value="{{lang or ''}}" />
</div>
<div class="control-item">
  <button class="w3-button w3-white w3-border w3-round-xxlarge iconbutton" type="submit" aria-label="{{L['list']['search_button']}}">
    <i class="fa fa-search"></i>
  </button>
</div>
{% endmacro -%}
