{% from 'organize_macros.html' import organize_hints, entry_form %}
{% extends 'base.html' %}

{% block content %}
<h1>Organize</h1>
<div class="w3-row">
  {{organize_hints()}}
</div>

<div class="w3-row organize">
  <h4>Edit Entry</h4>
  <form class="controls-form" method="post" action="{{url_for('organize_contact', id=contact.id)}}">
    {{entry_form(contact, languages)}}
  </form>
  <form class="controls-form" method="post" action="{{url_for('organize_contact_delete', id=contact.id)}}">
    <p><button class="w3-button w3-red" type="submit" onclick="return confirm('Are you sure?')">Delete</button></p>
  </form>
</div>
{% endblock %}
