{% from 'macros.html' import search_controls %}
{% from 'organize_macros.html' import organize_hints %}
{% extends 'base.html' %}

{% block content %}
<h1>Organize</h1>
<div class="w3-row controls">
  <form class="controls-form" action="{{url_for('organize')}}">
    {{search_controls(L)}}
  </form>
  <div class="control-item">
    <a class="w3-button w3-black none" href="{{url_for('organize')}}">{{L['list']['reset_search_button']}}</a>
  </div>
  <div class="control-item count"><span>{{contacts|length}} {{L['list']['num_structures_label']}}</span></div>
  <br/>
  <div>
    {{organize_hints()}}
    <a class="w3-button w3-green none" href="{{url_for('organize_new')}}">Create New Entry</a>
    <a class="w3-button w3-black none" href="{{url_for('organize', _external=True) | replace('://', '://log:out@')}}">Logout</a>
  </div>
</div>

{% for contact in contacts %}
<div class="w3-row contact">
  <h3 class="contact-title">{{contact.texts['en'].name}}</h3>
  <div class="organize">
    {% for lang in languages %}
    <div class="w3-third">
      <h4>{{lang}}</h4>
      <p><b>Name:</b> {{contact.texts[lang].name}}</p>
      <p><b>Short Description:</b> {{contact.texts[lang].short_description}}</p>
      <p><b>Description:</b> {{contact.texts[lang].description | urlize(target='_blank') | replace('\n', '<br/>' | safe)}}</p>
      <p><b>Resources:</b> {{contact.texts[lang].resources | replace('\n', '<br/>' | safe)}}</p>
      <p><b>Base Address:</b> {{contact.texts[lang].base_address}}</p>
      <p><b>Addresses:</b> {{contact.texts[lang].addresses | urlize(target='_blank') | replace('\n', '<br/>' | safe)}}</p>
      <p><b>Contact:</b> {{contact.texts[lang].contact | urlize(target='_blank') | replace('@', '-at-' | safe) | replace('\n', '<br/>' | safe)}}</p>
    </div>
    {% endfor %}
    <div class="w3-third full-last">
      <p><b>Latitude, Longitude:</b> {{contact.geo_coord}}</p>
      <p><b>Email:</b> {{contact.email}}</p>
      <p class="checkbox-in-list">
        <b>Group: </b>
        <input class="w3-input" type="checkbox" disabled {% if contact.is_group %}checked{% endif %}/>
      </p>
      <p class="checkbox-in-list">
        <b>Location: </b>
        <input class="w3-input" type="checkbox" disabled {% if contact.is_location %}checked{% endif %}/>
      </p>
      <p class="checkbox-in-list">
        <b>Media: </b>
        <input class="w3-input" type="checkbox" disabled {% if contact.is_media %}checked{% endif %}/>
      </p>
      <p><b>State:</b> {{contact.state}}</p>
      <p class="checkbox-in-list">
        <b>Published: </b>
        <input class="w3-input" type="checkbox" disabled {% if contact.published %}checked{% endif %}/>
      </p>
      <p>
        <b>Radar Group ID:</b>
        {% if contact.radar_group_id %}
          <a href="https://radar.squat.net/node/{{contact.radar_group_id}}" target="_blank">{{contact.radar_group_id}}</a>
        {% endif %}
      </p>
      <p><a class="w3-button w3-black none" href="{{url_for('organize_edit', id=contact.id)}}">Edit</a></p>

      <form class="controls-form" method="post" action="{{url_for('organize_contact_delete', id=contact.id)}}">
        <p><button class="w3-button w3-red" type="submit" onclick="return confirm('Are you sure?')">Delete</button></p>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
