{% extends 'base.html' %}

{% block content %}
<div class="w3-row controls">
  <div class="control-item">
    {% if lang=='de' %}
      de&nbsp;|&nbsp;<a href="{{ url_for('print_event_list', lang='en')}}">en</a>
    {% else %}
      <a href="{{ url_for('print_event_list', lang='de')}}">de</a>&nbsp;|&nbsp;en
    {% endif %}
  </div>
</div>

{% for contact in contacts if contact.cached_events%}
<div class="w3-row contact">
  <h3 class="contact-title"><a href="{{ url_for('list_entry', id=contact.id, lang=lang)}}">{{contact.name}} &mdash; {{contact.short_description}} &mdash; {{contact.base_address | urlize(target='_blank')}}</a></h3>
  <div>{{contact.description | urlize(target='_blank') | replace('\n', '<br/>' | safe)}}</div>
  <div class='events'>{{contact.cached_events | safe }}</div>
</div>
{% endfor %}
{% endblock %}
